[user]

[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
	st = status
	last = log -1 HEAD
	psom = push origin master
	plom = pull origin master
